run = "npm start"
language = "nodejs"
build = "npm run build"
onstart = "npm run serve"
entrypoint = "index.html"

[env]
PATH = "/root/.local/share/fnm:$PATH"

[deployment]
deploymentTarget = "static"
publicDir = "build"

[[ports]]
localPort = 3000
externalPort = 80
