run = "npm install && npm run build && node server.js"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-24_05"

[env]
PATH = "/root/.local/share/fnm:$PATH"

[deployment]
deploymentTarget = "static"
publicDir = "build"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
